<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<div class="alert alert-primary" role="alert"> Bootstrap alert</div>

<div class="d-flex">
  <div class="p-2 flex-grow-1">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="p-2">Third flex item</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-grow-1">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="p-2">Third flex item</div>
</div>

<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <img class="logo-image" src="../assets/car-logo.png" alt="car-logo">
    <span class="main-title">CARRENT</span>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="40px">
      <span class="menu-title">Home</span> 
      <span class="menu-title">Catalogue</span>
      <span class="menu-title">Page</span> 
    </div>
  </div>
</mat-toolbar>