.logo-image {
    width: 140px;
    margin-top: 5px;
}

.main-title {
    font-size: 28px;
    font-family: Alexandria; 
    letter-spacing: 8px;
    // margin-top: 10px;
}

.menu-title {
    font-size: 12px;
    font-family: Alexandria; 
}